*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Source Code Pro';
    font-weight: 700;
}
div {
    display: flex;
}
.images{
    background:white;
    font-family:'Helvetica', Arial, sans-serif;
    letter-spacing: -0.5px;
    font-size: 18px;
    width:6200px !important;
    height: auto;
    position:absolute !important;
    top:0px;
    left:0px;
    bottom:0px;
}
.section{
    margin:0px;
    bottom:0px;
    width:400px;
    float:left;
    height:100%;
    background: black;
    color: white;
    position: relative;
    display: flex;
    display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

}
.image {
    width: 80%;
    max-width: 350px;
    /* WebKit (Chrome & Safari) */
     display: -webkit-box;
     -webkit-box-pack: center;
     -webkit-box-align: center;
     
     /* Firefox */
     display: -moz-box;
     -moz-box-pack: center;
     -moz-box-align: center;
     
     /* IE */
     display: -ms-box;
     -ms-box-pack: center;
     -ms-box-align: center;
     
      /* Native CSS */
     display: box;
     box-pack: center;
     box-align: center;
}

.section-landscape {
    width:800px;
}
.image-landscape {
    width: 160%;
    max-width: 700px;
}
.image img {
    max-width: 100%;
    height: auto;
}
.white {
    background: white;
    color: black;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.s-1 {
    background-color: #646A5A;
}

.s-2 {
/*    background-color: #F0D2B8; */
    background-color: #D5AD8A;
}
.small {
    background-color: #26372A;
    width: 200px;
    text-align: center;
    font-family: 'Source Code Pro'
}